{% extends 'base.html' %}
{% block title %}
  {% if is_edit %}
    Редактировать пост
  {% else %}
    Новый пост
  {% endif %}
{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            {% if is_edit %}
              Редактировать пост
            {% else %}
              Новый пост
            {% endif %}
          </div>
          <div class="card-body">
            <form method="post" action="
                                      {% if is_edit %}
                                        {% url 'posts:post_edit' post.pk %}
                                      {% else %}
                                        {% url 'posts:post_create' %}
                                      {% endif %}"
                                enctype="multipart/form-data"
            >
              {% csrf_token %}
              <label>
                Картинка к посту:
              </label>
              <div>{{ form.image }}</div>
              <div class="form-group row my-3 p-3">
                <label for="id_text">
                  Текст поста
                  <span class="required text-danger">*</span>
                </label>
                  {% if form.errors %}
                    {% for field in form %}
                      {% for error in field.errors %}
                        <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                        </div>
                      {% endfor %}
                    {% endfor %}
                  {% endif %}
                  {{ form.text }}
                  <small id="id_text-help" class="form-text text-muted">
                    {% if is_edit %}
                      Редактировать пост
                    {% else %}
                      Текст нового поста
                    {% endif %}
                  </small>

              </div>
              <div class="form-group row my-3 p-3">
                <label for="id_group">
                  Группа
                </label>
                <select name="group" class="form-control" id="id_group">
                  <option value="" selected>---без группы---</option>
                  {% for group in groups %}
                      <option value="{{ group.pk }}">{{ group.title }}</option>
                  {% endfor %}
                </select>
                <small id="id_group-help" class="form-text text-muted">
                  Группа, к которой будет относиться пост
                </small>
              </div>
              <button type="submit" class="btn btn-primary">
                {% if is_edit %}
                  Сохранить
                {% else %}
                  Добавить
                {% endif %}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}