{% extends 'base.html' %}
{% block title %} {{ group.title }} {% endblock %}
  {% block content %}
    <div class="container">
      {% block header %} <h1>{{ group.title }}</h1> {% endblock %}
      <p>{{ group.description }}</p>
      <hr>
      {% for post in page_obj %}
        <article>
          <ul>
            <li>
              Автор:
              <a href="{% url 'posts:profile' post.author %}">
                {{ post.author.get_full_name }}
              </a>
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
            {% include 'posts/includes/image_thumbnail.html' %}
          <p>
            {{ post.text }}
          </p>
        </article>
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
    </div>
  {% endblock %}
